<footer class="py-6">
  <p class="text-center">
    Proyecto desarrollado por{" "}

    <a
      href="https://github.com/FabrizzioLoPresti"
      target="_blank"
      class="text-violet-700 font-bold"
    >
      @FabrizzioLoPresti
    </a>
  </p>
</footer>
