---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Layout/Hero.astro";
---

<Layout title="¿Cuál es tu próximo proyecto?">
  <main>
    <Hero />
  </main>
</Layout>

<style></style>
