---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Layout/Hero.astro";
import ParallaxText from "@/components/Layout/ParallaxText";
import Project from "@/components/Layout/Project";
import AboutSaaS from "@/components/Layout/AboutSaaS.astro";

export const prerender = true;
---

<Layout title="¿Cuál es tu próximo proyecto?">
  <main>
    <Hero />
    <ParallaxText client:visible />
    <Project client:visible />
    <AboutSaaS />
  </main>
</Layout>

<style></style>
